body{
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 23px;
}
section{
    display:flex;
    margin-bottom: 150px;
}
.para{
    color: slategrey;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 3%;
    padding-top: 39px;
    margin-bottom: 100px;
}
.half-width-1{
    width: 50%;
    color:slategray;
    padding-left: 12%;
    padding-right: 7%;
    padding-top: 118px;
}
.half-width img {
    width: 402px;
    padding-right: 2%;
    padding-top:30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff5f6d , #ffc371
    );
    padding:10px 30px;
    border-radius: 30px;
    color: white;
    font-size: 700;
}
.medel-bn{
    background-image: url(images/shapes/Frame\ 56.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;   
}
.my-recipies{
    text-align: center;
    padding-bottom: 5%;
    color: slategray;
;
}
#pic{
    height: 430px;
    width: 277px;   
}
.recipi{
  height: 500px;
  padding-bottom: 200px;
}
.recipi-dis{
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 8%;    
}
.dis{
    width: 31%;
    margin-left: -3%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 41px;
}
.dis img{
    width: 100%;  
}

